<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/navigation.css">
    <link rel="stylesheet" href="/stylesheets/dashboard/profile-page.css">
    
    <link rel="stylesheet" href="/stylesheets/modal.css">

    <title>user Profile</title>
</head>
<body>
    <div id="modal-container">
        <div class="modal-background">
            <div class="modal">
                <!-- alert -->
                <button class="close-btn">&#10005;</button>

                <!-- update form -->
                <%- include('../partial/update-form.ejs') %> 
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <%- include('../partial/navigation.ejs') %>

            <section class="main">
                <p class="alter-result">Profile Updated</p>

                <div class="blogger-panel">
                    <div class="information">
                        <h3 class="section-title"><%= blogger.firstname %> <%= blogger.lastname %> Personal Account</h3>

                        <ul class="blogger-info">
                            <li><b>First name:</b> <%= blogger.firstname %></li>
                            <li><b>Last name:</b> <%= blogger.lastname %></li>
                            <li><b>Username:</b> <%= blogger.username %></li>

                            <% if (blogger.gender === 'unset') { %>
                                <li><b>Gender:</b> Rather not say</li>
                            <% } else { %>
                                <li><b>Gender:</b> <%= blogger.gender %></li>
                            <% } %> 
                            
                            <li><b>Phone number:</b> <%= blogger.phoneNumber %></li>
                            <li><b>Role:</b> <%= blogger.role %> </li>
                            <li><b>Created at:</b> <%= blogger.createdAt %></li>

                            <div class="button-part">
                                <button id="two" class="button primary-btn mg-r-10">Edit Profile</button>
                                <button id="deleteAccount" class="primary-btn red-btn mg-r-10">Delete Account</button>

                                <a href="/authentication/logout" class="link-btn primary-color">Logout</a>
                            </div>
                        </ul>
                    </div>

                    <div class="options">
                        <h3 class="section-title">Avatar</h3>
                        <div class="avatar-panel">
                            <form action="/" enctype="multipart/form-data" id="avatarForm">
                                <input type="file" name="avatar" id="avatar">
        
                                <button type="submit" class="primary-btn mg-r-10">Save Avatar</button>

                                <button id="avatarRemove" class="primary-btn red-btn">Remove Avatar</button>
                            </form>
        
                            <p class="file-error">choosen avatar size must be less than 1MB.</p>
                        </div>

                        <h3 class="section-title">Password</h3>
                        <form action="/account" method="POST" id="changePassword">
                            <input type="text" name="prePassword" id="prePassword" placeholder="Current Password">
                            <p class="change-password-error prePassword-error">hello</p>
        
                            <input type="text" name="newPassword" id="newPassword" placeholder="New Password">
                            <p class="change-password-error newPassword-error">hello</p>
        
                            <button type="submit" class="primary-btn primary-color">change password</button>
        
                            <a href="/authentication/reset-password">Forget Your Password?</a>
                        </form>
                    </div>
                </div>

                
            </section>
        </div>
    </div>

    <script src="/javascripts/jquery-3.5.1.min.js"></script>
    <script src="/javascripts/modal.js"></script>
    <script src="/javascripts/display-alert.js"></script>
    <script src="/javascripts/update-form.js"></script>
    <script src="/javascripts/avatar.js"></script>
</body>
</html>